body
{font-family: 'Raleway', sans-serif;
margin: 0px;
padding: 0px;
}

p
{font-family: 'raleway', Arial, Helvetica, sans-serif;}


.navigation
{
    display: flex;
}

#conteneurheader img
{
    width: 6%;
    margin: 2%;

}

#navigation 
{
    display: flex;  
    width: 300px;
    position: absolute;
    justify-content: space-evenly;
    right: 0;
    top: 0%;
    margin: 20px;
} 

a
{
    color: inherit;
    text-decoration: none;
}
#navigation a
{

    margin-top: -18px;
    padding: 40px;
    font-size: 16px;
}
nav a:hover
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.titre
{
    line-height: 10px;
    margin-left: 35px;
}

#recherchezone
{
    display: flex;
    height: 45px;
    border: 3px whitesmoke solid;
    border-radius: 20px 20px 20px 20px;
    width: 30%;
}

::placeholder
{
    font-size: large;
    font-weight: bold;
    opacity: 1;
}

.recherche form
{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 2%;
}
.recherche i
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 55px;
    border-radius: 10px 0px 0px 10px;
}
.recherche input
{
    height: 50px;
    border: solid 1px; 
    border-color: #F2F2F2;
    width: 300px;
}
.recherche button
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    width: 145px;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    color: white;
    font-size: 16px;
}
.recherche p
{
    font-size: 16px;
    color: white;
}

.fa-search {
    width: 0px;
    height: 0px;
    color: #00f0;
    background-color: #00f0;
}
   
#bouton > span 
{
    margin-right: 20%;
}

.fa-map-marker-alt 
{
    background-color: #f2f2f2;
}

.boutonrecherche
{
    background-color: #0065FC;
}

#lesfiltres
{
    display: flex;
    width: 95%;
    margin: 20px;
    align-items: center;
    flex-wrap: wrap;
}

#lesfiltres h3
{
    margin-right: 30px;
    display: flex; 
    align-items: center;
    width: 5%;
    margin-left: 2%;
}

.conteneurfiltre
{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.filtre
{
    display: flex;
    justify-content: space-between;
    border: solid;
    border-radius: 30px;
    border-color: #F2F2F2;
    margin-left: 20px;
    margin-right: 20px;
}

.photofiltre
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 20px;
}

.photofiltre i
{
    color: #0065FC;
    background-color: #deebff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
    border-radius: 50%;
}

.filtre h4
{
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
}

#plusde
{
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-evenly;
    background-color: white;
}

#plusde p 
{
    color: #00000094;
}

.info
{
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    padding: 10px;
    border-radius: 50%;
    padding: 5px;
    width: 10px;
    height: 10px;
    
}

.fa-info 
{
    font-size: 13px;
    position: relative;
    bottom: 5px;
    left: 3px;
}
   
#conteneursection1
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

#conteneursection2 
{
    align-items: center;
    display: flex;
    flex-direction: column;
   }
   

#conteneursection2 h2
{
    margin-left: 60px;
    margin-top: 4%;
    align-self: flex-start;
}  

.conteneurgauche1
{
    display: flex;
    background-color: #F2F2F2;
    flex-wrap: wrap;
    width: 60%;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    height: 100%;
}

.conteneurgauche1 img
{
    display: flex;
    height: 100px;
    width: 208px;
    border-radius: 20px 20px 0px 0px;
}

.conteneurgauche1 h2
{
    margin-left: 65px;
}

.conteneurgauche1 h3
{
    margin-top: 10px;
    font-size: 16px;
}

.conteneurgauche1 .vignette p
{
    margin-top: -10px;
}

.conteneurgauche1 .note
{
    margin-left: 10px;
}

.conteneurgauche1 .vignette
{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    border: solid;
    border-color: white;
    height: 100%;
    margin-left: 22px;
    margin-right: 22px;
}

.conteneurvignette1
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left:  5%;
    margin-right: 5%;
    height: 100%;
    margin-bottom: 2%;
}

.afficher
{
    font-weight: bold;
    margin-left: 65px;
}

.conteneurdroit1
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
    padding-top: 20px;
    height: auto;
    align-items: center;
    width: 35%;
}

.conteneurdroit1 img
{  
    width: 125px;
    height: 95%;
    border-radius: 20px 0px 0px 20px;
    border: solid;
    border-color: white;
    object-fit: cover;
    
}

.conteneurdroit1 h3
{
    margin-top: 10px;
    font-size: 16px;
}

.conteneurdroit1 h3
{
    margin-right: 0px;
}

.conteneurdroit1 p
{
    margin-bottom: 40px;
}

.conteneurdroit1 .vignette
{
    display: flex;
    width: 85%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.conteneurdroit1 .note
{
    margin-left: 10px;
}

.conteneurdroit1 .populaire
{
    display: flex;
    justify-content: space-around;
    width: 100%;

}



.chart
{
    margin-top: 25px;
    font-size: 20px;
}

.conteneurgauche2
{
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: initial;
    align-content: center;
    width: 40%;
    height: 500px;
    gap: 10px;
}

.conteneurgauche2 img
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.conteneurgauche2 h2
{
    display: flex;

}

.conteneurvignette2
{
    display: flex;
    height: 100%;
    width: 95%;
    justify-content: space-evenly;
}

.conteneurvignette2 div
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
    width: 90%;
    margin-left: 20px;

}

.conteneurvignette2 .vignette img
{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;

}

.conteneurvignette2 h3
{
    position: relative;
    left: 15px;
}

.vignettecote img
{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.conteneurvignette2 .vignette
{
    box-shadow: 3px 3px 3px 3px #F2F2F2;
}

.conteneurvignette2 .vignettecote
{
    box-shadow: 3px 3px 3px 3px #F2F2F2;
}

div.vignettecotedroit:nth-child(2) > div:nth-child(2) > a:nth-child(1) > img:nth-child(1) 
{
    height: 100px;
}
   
div.vignettecotedroit:nth-child(4) > div:nth-child(2) > a:nth-child(1) > img:nth-child(1) 
{
    height: 100px;
}   

#pagefooter
{
    display: flex;
    background-color: #F2F2F2;
    gap: 200px;
    position: relative;
    top: 30px;
}

.Aproposfooter 
{
    margin-left: 3%;
}
   

.etoile
{
    display: flex;
    margin-bottom: 5px;
}

.étoilepleine
{
    color: #0065FC;
}

.étoilevide
{
    color: #F2F2F2
}

.vignette
{
    box-shadow: 3px 3px 3px 3px #0000000d;
}

.filtre:hover
{
    color: #0065FC;
}


@media screen and (max-width: 992px) 
{

    #conteneurheader img 
    {
        height: 100px;
        width: 150px;
    }

    .recherche form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recherche input {
        height: 50px;
        border: solid 1px; 
        border-color: #F2F2F2;
        width: 300px;
    }

    .recherche i 
    {
        height: 56px;
        border-radius: 10px 0px 0px 10px;
    }

    .fa-search {
        width: 0px;
        height: 0px;
        color: #00f0;
        background-color: #00f0;
    }
       
    #bouton > span 
    {
        margin-right: 20%;
    }

    .fa-map-marker-alt 
    {
        background-color: #f2f2f2;
    }
    .recherche i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 53px;
        border-radius: 10px 0px 0px 10px;
    }  


    .filtre {
        display: flex;
        justify-content: space-between;
        border: solid;
        border-radius: 30px;
        border-color: #F2F2F2;
        margin: 10px;
    }

    #lesfiltres {
        width: 100%;
        font-size: x-large;
        margin: 0px;
    }

    #lesfiltres h3 {

        margin-left: 30px;
    }

    

    .filtre h4 {
        padding-left: 20px;
        padding-right: 20px;
        font-size: revert;
    }

    .filtre 
    {
        margin-left: 50px;
        margin-right: 50px;
        padding-right: 30px;
    }
    
    .photofiltre
    {
        height: 40px;
    }

    .photofiltre i 
    {
        width: 70px;
        height: 70px;
    }

  #conteneursection1
    {
      flex-direction: column-reverse;
    }

    .populaire h2 
    {
        margin-right: 50%;
    }

    .vignette
    {
        box-shadow: 3px 3px 3px 3px #00000014;
    }
  .conteneurvignette1 
    {

        margin-right: 5%;
        height: 100%;
    }

    .conteneurfiltre 
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        margin-left: 30px;
    }
       
    .conteneurgauche1 
    {
    width: 100%;
    flex-direction: column;
    background-color: white;
    }

    .conteneurdroit1 
    {
        width: 100%;
        height: 700px;
    }

    .conteneurdroit1 .vignette {
        display: flex;
        width: 90%;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        margin-left: 25px;
        margin-bottom: 20px;
        height: 25%;
    }
    .conteneurdroit1 img {  
        width: 200px;
        object-fit: cover;
    }

    .conteneurdroit1 .etoile
    {
        margin-top: 40px;
    }

    .conteneurdroit1 h3
    {
        font-size: x-large;
    }

    .conteneurvignette2 h3
    {
        left: 0px;
    }

    .conteneurvignette2 div 
    {
        margin-left: 5px;
    }

    #pagefooter {
        display: flex;
        background-color: #F2F2F2;
        top: 30px;
        justify-content: space-between;
        gap: 0px;
    }

    .Aproposfooter 
    {
        margin-left: 3%; 
    }


}


@media screen and (max-width: 768px) 
{


    a {
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #navigation a 
    {
        display: flex;
        font-size: larger;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
    }

    #navigation 
    {
        position: initial;
        width: 90%;
    }

    .titre 
    {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        line-height: normal;
        left: 0px;
        margin-left: 5%;
    }
       
    .titre p
    {
        font-size: large;
        margin-top: 1px;
        margin-bottom: 10%;
    }

    .fa-search 
    {
        width: 50px;
        height: 50px;
        color: white;
        margin-left: 0px;
    }

       #bouton  span
    {
        width: 0;
        height: 0;
        color: #00f0;
        margin-right: 30px;
    }
       
    .recherche 
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
       
    .recherche #bouton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        width: 25%;
        border-radius: 20px 20px 20px 20px;
        background-color: #0065FC;
        border: 1px solid #0065FC;
        color: white;
        font-size: 16px;
    }
    .recherche span  
    {
        display: none;
    }

    .recherche input {
        height: 60px;
        border: solid 1px; 
        border-color: #F2F2F2;
        width: 100%;
        margin-right: -10px;
    }

    .recherche i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 65px;
        border-radius: 20px 0px 0px 20px;
        font-size: x-large;
    }

    .recherche form 
    {
        justify-content: center;
        font-size: x-large;
        align-items: center;
        padding: 0px;
        margin: 0px;
        width: 90%;
    }

    ::placeholder
    {
        font-size: large;
        color: black;
        font-weight: bold;
        opacity: 1;

    }

    .conteneurfiltre {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        margin-left: 2%;
        margin-right: 2%;
        align-items: center;
    }

    #lesfiltres {
        width: 100%;
        font-size: inherit;
        margin: 0px;
        align-items: center;
    }

    #lesfiltres h3 
    {

        margin-left: 15px;
    }

    .filtre h4 
    {
        font-size: larger;
        margin-left: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .filtre 
    {
        margin: 0px 0px 20px 10px;
        padding: 0px 0px 0px 10px;
    }
    
    .photofiltre
    {
        height: 20px;
        margin-right: 10px;
    }

    .photofiltre i 
    {
        width: 50px;
        height: 50px;
    }

    .fa-info 
    {
        position: relative;
        left: 0%;
        top: 0%;
        bottom: 0px;
        margin-left: 30%;
    }

    .info 
    {   
        display: flex;
        color: #0065FC;
        border: 1px #0000001c solid;
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }

    #plusde 
    {
        font-size: initial;
        width: 90%;
        margin-left: 5%;
        align-items: baseline;
    }

    #plusde p
    {
        margin-left: 20px;
        margin-bottom: 10%;
        color: #000000b5;
    }
       
    #conteneurheader img 
    {
        width: 100px;
        height: 50px;
        margin: 10% 0px 0px 10%;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    nav a:hover
    {
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        border-top: 0px;
    }

    nav a
    {
        border-bottom: 3px solid #F2F2F2;
    }

    
    .afficher 
    {
        font-size: 20px;
        top: 0px;
        left: 0px;
        margin-left: 10%;
    }

    .populaire h2 
    {
        margin-right: 0%;
        font-size: x-large;
        margin-bottom: 10%;
    }

    .chart 
    {
        font-size: x-large;
    }

    .conteneurvignette1
    {
        width: 100%;
        margin: 0px;
        justify-content: center;
        align-items: center;
    }

    .conteneurgauche1 .vignette
    {
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0px 0px 5% 0px;
        border-radius: 20px 20px 20px 20px;
        border: solid 5px white;
    }

    .conteneurgauche1 .vignette p 
    {
        font-size: medium;
        margin: 1% 0% 2% 0%;
    }

    .conteneurgauche1 
    {
        padding-bottom: 0px;
    }

    .conteneurgauche1 img {
        display: flex;
        height: 125px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        margin-left: 0px;
    }

    .conteneurgauche1 h2 
    {
        margin-left: 5%;
        font-size: x-large;
    }

    .conteneurgauche1 h3 {
        font-size: large;
        margin: 3% 0% 1% 0%;
    }

    .conteneurgauche1 .note {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }

    .conteneurdroit1 
    {
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 0px 0px;
        align-items: center;
        justify-content: space-between;
    }

    .conteneurdroit1 .vignette {
        display: flex;
        width: 90%;
        background-color: white;
        border-radius: 30px 30px 30px 30px;
        margin-left: 0px; 
        margin-bottom: 5%; 
        height: 100%;

    }
    .conteneurdroit1 img {  
        width: 95%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px 0px 0px 30px;
        border: solid 5px white;
        margin: 0px;
        display: flex;
        align-items: center;
    }

    .conteneurdroit1 .populaire 
    {
        align-items: baseline;
        justify-content: space-between;
        width: 85%;
    }

    .conteneurdroit1 h3 {
        font-size: 18px;
        margin: 10px 5px 10% 0px ;
    }

    .conteneurdroit1 p 
    {
    font-size: 16px; 
    }

    .conteneurdroit1 .etoile 
    {
    margin: 0px;
    font-size: medium;
    }

    .conteneurdroit1 .note {
        height: auto;
        width: 100%;
        align-items: center;
        display: flex;
    }


    #conteneursection2 
    {
        width: 100%;
    }

    #conteneursection2 h2 
    {
        margin: 5% 0px 10% 10%;
        font-size: x-large;
    }

    .conteneurvignette2 img
    {
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    .conteneurvignette2 div 
    {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 20px 20px 20px 20px;
        height: 100%;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    
    
    .conteneurvignette2 
    {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 99%;
        justify-content: center;
        align-items: center;
    }

    .conteneurvignette2 .vignettecote 
    {
        box-shadow: 3px 3px 3px 3px #F2F2F2;
        width: 100%;
    
    }


    .conteneurvignette2 h3 
    {
     left: 20px;
     font-size: 18px;
    }

    .conteneurvignette2 .vignette img {
        height: 150px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
    
    }

    .etoile 
    {
        display: flex;
    }

    div.vignettecotedroit:nth-child(2) > div:nth-child(2) > a:nth-child(1) > img:nth-child(1) {
        height: 150px;
    }

    div.vignettecotedroit:nth-child(4) > div:nth-child(2) > a:nth-child(1) > img:nth-child(1) {
        height: 150px;
    }


    #pagefooter
    {
        gap: 0px;
        display: flex;
        flex-direction: column;
    }
    
    #pagefooter h3
    {
        font-size: x-large;
        margin-left: 10%;
    }

    #pagefooter  p
    {
        font-size: larger;
        margin-left: 10%;
        margin-top: 1%;
    }

    .Aproposfooter 
    {
        margin-left: 0%; 
    }

}
